.walrus-showing {
    display: none;
  }
  
  .clickable {
    cursor: pointer;
    color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}
.body-background {
background-image: url(img/h-img.jpg);
background-size: 30%; 
}