@import url(./fonts.css);
body
{
  background-color: pink;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", cursive;
  line-height: 1.6;
}
#showcase
{
  justify-content: center;
  align-items : center;
  text-align : center;
  color: white;
  background-image: url(../img/h_img.jpg);
  background-color: pink;
  background-size : cover;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  /**margin: 100px;**/
}
#showcase.h1
{
  font-size: 50px;
  padding-top: 20px;
  text-align: center;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
}
#showcase.p
{
  font-size: 10px;
  font-weight: 20;
  color: blue;
}
#showcase.icon
{
  align-items : bottom; 
}
#section-a
{
  padding: 20px;
  background: white;
  color:black;
  text-align: center;
}
#section-b
{
  justify-content: center;
  align-items : center;
  text-align : center;
  color: white;
  background-color: pink;
  background-size : cover;
  height: 40vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-image: url(../img/s_image.jpg);
  text-align: center;
 }
#section-b .p
 {
  font-size: 10px;
  font-weight: 20;
  color: white;
}
#section-c .box 
{
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr; */
  flex-direction: column;
  text-align: center;
  padding: 10px;
}
.portfolio-items-wrapper
{
display : grid;
grid-template-columns: 1fr 1fr 1fr 1fr; 
}
.portfolio-item-wrapper
{
  position: relative;
}
.portfolio-img-background
{
  height: 50%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.img-text-wrapping
{
  position : relative;
  top: 0; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10%;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.logo-wrapper-img
{
  width :50%;
  margin-bottom: 20px;
}
.img-text-wrapper .subtitle
{
transition:1s;
font-weight: 600;
color :transparent
}
.img-text-wrapper:hover .subtitle
{
font-weight: 600;
color : blue;
}
.img-darken
{
transition :1s;
filter: brightness(10%);
}
#contact
{
  justify-content: center;
  align-items : center;
  text-align : center;
  color: white;
  background-color: pink;
  background-size : cover;
  height: 40vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-image: url(../img/c_image.jpg);
  text-align: center;
 }
/**.walrus-showing {
    display: none;
  }
  
 .clickable {
    cursor: pointer;
    color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.container{
  width: 80%;
  margin: auto;
}

/**.content
background-color: rgba(206, 17, 38, 0.72);
background-image: url('img/h_img.jpg');
margin-left: 20%;
margin-right: 20%;
margin-top: 10px;
margin-bottom: auto;
padding-bottom: 20px;
box-shadow: 2px 2px #000000;
border-radius: 0.5%;
}**/