@import url(./fonts.css);
body
{
  background-color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", cursive;
  line-height: 1.6;
}
#showcase
{
  justify-content: center;
  align-items : center;
  text-align : center;
  background-image: url(../img/h_img.jpg);
  background-color: pink;
  background-size : cover;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  /**margin: 100px;**/
}
#showcase.h1
{
  font-size:50px;
  padding-top: 20px;
  text-align: center;
  font-family: "Roboto", cursive;
  text-transform: uppercase;
}
#showcase.p
{
  font-size: 10px;
  font-weight: 20;
  color: blue;
}
#section-a
{
  padding: 20px;
  background: white;
  text-color: black;
  text-align: center;
}
#section-b
{
  justify-content: center;
  align-items : center;
  text-align : center;
  background-color: pink;
  background-size : cover;
  height: 100vh;
  background-position: center;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  background-image: url(../img/s_image.jpg);
  text-align: center;
 }
<div class= "box1">
/**.walrus-showing {
    display: none;
  }
  
 .clickable {
    cursor: pointer;
    color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.container{
  width: 80%;
  margin: auto;
}

/**.content
background-color: rgba(206, 17, 38, 0.72);
background-image: url('img/h_img.jpg');
margin-left: 20%;
margin-right: 20%;
margin-top: 10px;
margin-bottom: auto;
padding-bottom: 20px;
box-shadow: 2px 2px #000000;
border-radius: 0.5%;
}**/

}
body{
  

}